body{
        margin: 0;
        padding: 0;
        font-family: 'Bebas Neue', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
.header-font{
        color: #3E3E3E;
        font-size: 25px;
}



.text-color{
        color: rgb(9, 35, 87);
}
.package{
        border: 0;
        margin-top: 200px;
        
}
.custom-color{
        color: #231D4F;
}
.card-title{
        font-size: 38px;
        color: #231D4F;
}
 .list{
        font-size: 15px;
        list-style: none;
       padding-left: 5px;
}
.card-btn{
        background-color: antiquewhite;
        border-radius: 20px;
        width: 180px;
        height: 45px;
        color: rgb(17, 17, 98);
        font-size: 16px;
        font-weight: 600;
        margin-top: 25px;
}
.bage{
        left: 200px;
}
.haighlite{
        background-color: rgb(99, 146, 117);
        padding-bottom: 50px;
        padding-left: 15px;
        color: #fff;
}




@media only screen and(max-width:688px) {
        .slide{
                width: 100%;
        }
        .a{
                margin-left: 30%;
        }
        .second{
                position: relative;
        }
        .haighlite{
        position: none;
        top: 500px;
                
        }
        
}